.body-aplication {

    background-color: rgb(191, 190, 190);
    width: 0 auto;
    height: 350;
}

.center-datagrid{

    margin: 100px 20px 0px 20px;
    height: 400px;
    width: 100%;
   
}

   
